// Bootstrap breakpoints
$max-extra-samll-device: 565.98px;
$min-small-device: 576px;
$max-small-device: 767.98px;
$min-medium-device: 768px;
$max-medium-device: 991.98px;
$min-large-device: 992px;
$max-large-device: 992px;
$min-extra-large-device: 1200px;
